
{% extends 'base.html' %}


{% block content %}
<h1 style="text-align: center;">Clarusway Blog</h1>
<div class="row mt-5" >
    {% for obj in object_list %}
    <div class="col-4">

        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem; height: 25rem; ">
            <img src="{{ obj.image.url }}" class="card-img-top" alt="post_image" style="width:15rem; height: 11rem; align-self:center;">
            <hr>
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'blog:detail' obj.slug %}">{{obj.title}}</a></h5>
                <p class="card-text">{{obj.content|truncatechars:20}}</p>
                
                <p>
                    <span><i class="far fa-comment-alt ml-2"></i>{{ obj.comment_count }}</span>
                    <span><i class="fas fa-eye ml-2"></i>{{ obj.view_count }}</span>
                    <span><i class="far fa-heart ml-2"></i>{{ obj.like_count }}</span>
                <p class="card-text"><small>
                        Posted {{ obj.publish_date|timesince }} ago.
                    </small>
                </p>

                </p>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock content %}


















{% comment %} {% extends 'base.html' %}






{% block container %}
<ul>
    {% for post in posts%}
    <li>{{ post.title }} - {{post.status}} </li>
    {%endfor%}
</ul>
{% endblock container %} {% endcomment %}


{% comment %} CARDS
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
</div> {% endcomment %}