{% load static %} 

<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                 <a class="navbar-brand mr-4" href="{% url 'home' %}">Resdal's Blog</a>
            </div>
         
           
            <ul class="nav navbar-nav mr-auto">
                <li><a class="nav-item nav-link" href="{% url 'home' %}">Home</a></li>
                <li><a class="nav-item nav-link" href="#">About</a></li>
            </ul>
              <!-- Navbar Right Side -->
              {% comment %}  .navbar-right class can be used {% endcomment %}
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
                <li><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="nav-item nav-link" href="{% url 'add' %}">New Post</a></li>
                {% else %}
                <li><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
                <li><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>    
    </nav>
</header>